<div class="a-propos-container">
  <div class="title"><h1>À propos</h1></div>
  <h2>Lorem ipsum dolor</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit eaque
    voluptatem expedita incidunt, quod molestiae reprehenderit nulla dignissimos
    architecto ut sit repudiandae eius dolore ea cupiditate praesentium beatae
    omnis exercitationem. Nobis tempora totam nostrum vitae delectus! Ratione
    accusantium magnam architecto sed obcaecati et perspiciatis sit
    exercitationem, doloribus animi amet corrupti odit, similique fugit
    dignissimos ut dicta nesciunt, eligendi voluptate harum? Cupiditate quia,
    officia libero voluptate quis saepe dolor necessitatibus a amet non,
    similique odit earum, commodi aliquam. Rerum error voluptas tempora
    adipisci, perferendis alias, sint impedit iusto, dolores provident nisi.
    Dicta accusamus neque voluptatum unde reprehenderit animi mollitia quos
    quasi illo! Iste tempora culpa ea laboriosam autem harum natus deleniti?
    Molestiae eum omnis sunt reiciendis quae corporis, animi rem nobis. Harum
    nemo sunt doloribus iusto, pariatur modi minima quis aliquam. Adipisci quis
    incidunt assumenda consequatur. Itaque accusantium perspiciatis possimus
    nemo, sint culpa voluptate expedita ut iure tempore praesentium unde
    nesciunt! Facilis molestias, fuga in itaque accusamus veritatis excepturi
    corporis nobis rem commodi quos assumenda? Dolorum assumenda, dolor rerum
    ducimus consequuntur quidem inventore obcaecati aspernatur architecto
    necessitatibus doloribus, sequi, consequatur voluptatem. Magni sequi culpa
    delectus molestiae. Itaque cum voluptate porro consectetur doloribus
    expedita officia iure sed delectus, tempora, libero ea, minus nulla veniam
    alias hic omnis eius soluta ex sint tempore. Voluptate labore quasi dicta?
    Nihil, praesentium id esse error enim sint amet ipsa quod, ipsam excepturi
    accusamus quas veritatis omnis iure possimus fugit illo. Temporibus non
    exercitationem laboriosam consequatur accusantium! Nulla quaerat quisquam ab
    culpa quos repellat velit totam ut iure suscipit, doloribus illo aliquam
    quam voluptate accusantium mollitia, ullam corrupti ea repellendus corporis
    sapiente, sint unde! Minima, aut iste! In soluta asperiores ducimus
    quibusdam nam, pariatur sapiente doloribus tempora maxime, doloremque,
    tempore sequi repudiandae velit porro! Veniam adipisci, nam tenetur
    blanditiis, et ullam placeat eos quos cumque suscipit minus?
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos,
    accusamus aliquam at sequi nam nihil accusantium numquam neque voluptatibus,
    dolor est provident blanditiis ipsam, reprehenderit consectetur facilis
    pariatur molestias voluptatum. Repellendus quibusdam, minima eligendi
    eveniet distinctio ex, optio dolores cupiditate illo ab dolor sequi a
    quaerat blanditiis ullam aspernatur beatae incidunt labore assumenda facilis
    eaque? Quia consectetur sunt modi sit.
  </p>
</div>
