<div class="table-forfait-title">
  <h1>Bienvenue dans l'administration</h1>
</div>
<div class="table-forfait-container">
  <button
    (click)="onSelect(undefined)"
    style="align-self: flex-start"
    mat-button
  >
    <i style="color: green" class="material-icons">add</i>
    Ajout d'un forfait
  </button>

  <table mat-table #tableHeros [dataSource]="forfaits">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>id</th>
      <td mat-cell *matCellDef="let forfait">{{ forfait.id }}</td>
    </ng-container>
    <ng-container matColumnDef="destination">
      <th mat-header-cell *matHeaderCellDef>Destination</th>
      <td mat-cell *matCellDef="let forfait">{{ forfait.destination }}</td>
    </ng-container>

    <ng-container matColumnDef="villeDepart">
      <th mat-header-cell *matHeaderCellDef>Ville de départ</th>
      <td mat-cell *matCellDef="let forfait">{{ forfait.villeDepart }}</td>
    </ng-container>

    <ng-container matColumnDef="dateDepart">
      <th mat-header-cell *matHeaderCellDef>Date de départ</th>
      <td mat-cell *matCellDef="let forfait">{{ forfait.dateDepart }}</td>
    </ng-container>

    <ng-container matColumnDef="dateRetour">
      <th mat-header-cell *matHeaderCellDef>Date de retour</th>
      <td mat-cell *matCellDef="let forfait">{{ forfait.dateRetour }}</td>
    </ng-container>

    <ng-container matColumnDef="prix">
      <th mat-header-cell *matHeaderCellDef>Prix</th>
      <td mat-cell *matCellDef="let forfait">{{ forfait.prix }}</td>
    </ng-container>
    <ng-container matColumnDef="rabais">
      <th mat-header-cell *matHeaderCellDef>Rabais</th>
      <td mat-cell *matCellDef="let forfait">{{ forfait.rabais }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let forfait" class="boutonsAction">
        <button (click)="onSelect(forfait)" mat-button>
          <i class="material-icons">edit</i>
        </button>
        <button (click)="deleteForfait(forfait)" mat-button>
          <i style="color: red" class="material-icons">delete</i>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
  </table>
</div>
<div class="graphiques">
  <app-graphique1></app-graphique1>
  <app-graphique2></app-graphique2>
</div>
